@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.flex > div {
  flex-grow: 1;
}
