@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: hsl(243, 87%, 12%);
  font-size: 1.1em;
  margin: 0;
}

.container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

img {
  max-width: 100%;
}

a {
  color: hsl(170, 45%, 43%);
  text-decoration: none;
}

a > img {
  vertical-align: middle;
}

h1,
h2,
h4 {
  font-family: 'Raleway', 'sans-serif';
}

.flex {
  display: flex;
  align-items: center;
}

.flex > div {
  flex-grow: 1;
}

.flex > div:first-child {
  margin-right: 30px;
}
.flex > div:last-child {
  margin-left: 30px;
}

/* Nav Styling */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}

nav ul {
  display: flex;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  margin-left: 50px;
}

nav ul a {
  color: hsl(243, 87%, 12%);
}

/* Form Styling */
form {
  display: flex;
}

input {
  border: 1px solid hsl(243, 87%, 12%);
  border-radius: 2px;
  padding: 15px;
  flex: 0.7;
}

button {
  border: 1px solid hsl(224, 93%, 58%);
  background-color: hsl(224, 93%, 58%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #fff;
  padding: 15px;
  flex: 0.3;
  margin-left: 10px;
}

header {
  margin-bottom: 100px;
}

/* Section styling */
.light-blueish {
  background-color: #f8f8fe;
  margin-top: 100px;
  position: relative;
  padding: 50px 0;
}

.light-blueish::before {
  content: '';
  background-image: url('images/bg-curve-desktop.svg');
  background-size: 100% 100%;
  position: absolute;
  top: -50px;
  left: 0;
  height: 50px;
  width: 100%;
}

/* Testimonial styling */
.testimonial-box {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 25px;
  margin-top: 40px;
  width: 80%;
}

.testimonial-box p {
  letter-spacing: 1px;
  line-height: 1.7;
  font-size: 14px;
}

.user-info {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.user-info img {
  margin-right: 10px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.user-info h4 {
  font-weight: 700;
  margin: 0;
}
